<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="description" content="The design system sponsored by Cisco Brand">
    <meta name="image" content="http://cisco-ui.cisco.com/assets/img/uikit-1200x630%402x.png">
    <meta itemprop="name" content="Cisco UI Kit">
    <meta itemprop="description" content="The design system sponsored by Cisco Brand">
    <meta itemprop="image" content="http://cisco-ui.cisco.com">
    <meta name="twitter:card" content="summary">
    <meta name="twitter:title" content="Cisco UI Kit">
    <meta name="twitter:description" content="The design system sponsored by Cisco Brand">
    <meta property="og:title" content="Cisco UI Kit">
    <meta property="og:description" content="The design system sponsored by Cisco Brand">
    <meta property="og:image" content="https://cisco-ui.cisco.com/assets/img/uikit-1200x630%402x.png">
    <meta property="og:url" content="http://cisco-ui.cisco.com">
    <meta property="og:site_name" content="Cisco UI Kit">
    <meta property="og:locale" content="en_US">
    <meta property="og:type" content="website">
    <meta property="og:image:width" content="1200">
    <meta property="og:image:height" content="630">
    <link rel="apple-touch-icon-precomposed" sizes="57x57" href="img/apple-touch-icon.png">
    <link rel="apple-touch-icon-precomposed" sizes="114x114" href="img/apple-touch-icon.png">
    <link rel="apple-touch-icon-precomposed" sizes="72x72" href="img/apple-touch-icon.png">
    <link rel="apple-touch-icon-precomposed" sizes="144x144" href="img/apple-touch-icon.png">
    <link rel="apple-touch-icon-precomposed" sizes="60x60" href="img/apple-touch-icon.png">
    <link rel="apple-touch-icon-precomposed" sizes="120x120" href="img/apple-touch-icon.png">
    <link rel="apple-touch-icon-precomposed" sizes="76x76" href="img/apple-touch-icon.png">
    <link rel="apple-touch-icon-precomposed" sizes="152x152" href="img/apple-touch-icon.png">
    <link rel="icon" type="image/png" href="img/favicon.png" sizes="196x196">
    <link rel="icon" type="image/png" href="img/favicon.png" sizes="96x96">
    <link rel="icon" type="image/png" href="img/favicon.png" sizes="32x32">
    <link rel="icon" type="image/png" href="img/favicon.png" sizes="16x16">
    <link rel="icon" type="image/png" href="img/favicon.png" sizes="128x128">
    <link rel="icon" href="img/favicon.png" type="image/x-icon">
    <meta name="application-name" content="Cisco UI Kit">
    <meta name="msapplication-TileColor" content="#FFFFFF">
    <meta name="msapplication-TileImage" content="img/mstile.png">
    <meta name="msapplication-square70x70logo" content="img/mstile.png">
    <meta name="msapplication-square150x150logo" content="img/mstile.png">
    <meta name="msapplication-wide310x150logo" content="img/mstile.png">
    <meta name="msapplication-square310x310logo" content="img/mstile.png">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <title>{% block title %}{% endblock %}</title>


    <!-- CUI 2.0 CSS -->
    <link rel="stylesheet" href="{{ url_for('static', filename='assets/css/cui-standard.min.css') }}">



    <!-- ORIGINAL CSS -->
    <link rel="stylesheet" href="{{ url_for('static', filename='public/css/animate.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='public/css/featherlight.min.css') }}">
    <link rel="icon" href="assets/img/favicon.png" type="image/x-icon">



    <!-- Footer CSS -->
    <style>
        .footer {
            position: absolute;
            right: 0;
            bottom: 0;
            left: 0;
            padding: 1rem;
            background-color: #efefef;
            text-align: center;

        }
    </style>

    <!-- Page Specific CSS -->
    {% block css %}{% endblock %}

</head>

<body class="cui">
    <nav class="header" id="styleguideheader" role="navigation">
        <div class="container-fluid">
            <div class="header-panels">
                <div class="header-panel hidden-md-down">
                    <a class="header__logo" href="http://www.cisco.com" target="_blank">
                        <span class="icon-cisco"></span>
                    </a>
                    <h1 class="header__title">
                        <span>Meraki PoV</span>
                    </h1>
                </div>
                <div class="header-panel header-panel--center base-margin-left base-margin-right hidden-lg-up">
                    <a class="header__logo" href="http://www.cisco.com" target="_blank">
                        <span class="icon-cisco"></span>
                    </a>
                </div>
                <div class="header-panel header-panel--right hidden-md-down">
                    <a href="/" class="header-item" title="UI Kit Home"><span class="icon-home"></span></a>

                </div>
            </div>
        </div>
    </nav>
    <div class="content content--alt">
        <div class="container-fluid">
            <div class="row">


                <!-- Sidebar -->
                <nav class="col-lg-3 col-xl-2 sidebar hidden-md-down dbl-margin-top" role="navigation">
                    <div class="base-margin">
                        <div class="sidebar__header-title">{% block pageTitle %}{% endblock %}</div>
                    </div>
                    <ul id="rootSidebar">

                        <li class="sidebar__item selected">
                            <a tabindex="0" title="MV Overview" href="{{ url_for('mvOverview')}}">
                                <span class="icon-home"></span>
                                <span>MV Overview</span>
                            </a>
                        </li>

                        <li class="sidebar__item selected">
                            <a tabindex="0" title="Raw CMX" href="{{ url_for('rawCMX')}}">
                                <span class="icon-storage"></span>
                                <span>Raw CMX</span>
                            </a>
                        </li>

                        <li class="sidebar__item selected">
                            <a tabindex="0" title="CMX Times" href="{{ url_for('cmxTimes')}}">
                                <span class="icon-time"></span>
                                <span>CMX Times</span>
                            </a>
                        </li>

                        <li class="sidebar__item selected">
                            <a tabindex="0" title="Filter" href="{{ url_for('hourFilter')}}">
                                <span class="icon-filter"></span>
                                <span>Filter</span>
                            </a>
                        </li>

                        <li class="sidebar__item selected">
                            <a tabindex="0" title="MV Sense" href="{{ url_for('mvSense')}}">
                                <span class="icon-aux-camera"></span>
                                <span>MV Sense</span>
                            </a>
                        </li>

                        <li class="sidebar__item selected">
                            <a tabindex="0" title="CMX Activity" href="{{ url_for('cmxActivity')}}">
                                <span class="icon-activities"></span>
                                <span>CMX Activity</span>
                            </a>
                        </li>

                        <li class="sidebar__item selected">
                            <a tabindex="0" title="MV Activity" href="{{ url_for('mvActivity')}}">
                                <span class="icon-too-slow"></span>
                                <span>MV Activity</span>
                            </a>
                        </li>

                        <li class="sidebar__item selected">
                            <a tabindex="0" title="Correlation" href="{{ url_for('correlation')}}">
                                <span class="icon-analysis"></span>
                                <span>Correlation</span>
                            </a>
                        </li>


                    </ul>
                </nav>


                <div class="col-12 col-lg-9 col-xl-10">
                    <div class="section">
                        <div class="row">
                            <div class="col-xl-12">
                                <div class="panel panel--loose panel--raised base-margin-bottom">
                                    <h2 class="subtitle">{% block section1title %}{% endblock %}</h2>
                                    <hr>
                                    <div class="section">
                                        {% block section1content %}{% endblock %}
                                    </div>
                                </div>

                            </div>

                        </div>
                    </div>
                </div>
            </div>
            <footer class="footer">
                <div class="footer__links">
                    <ul class="list list--inline">
                        <li><a href="http://www.cisco.com/cisco/web/siteassets/contacts/index.html"
                                target="_blank">Contacts</a></li>
                        <li><a href="https://secure.opinionlab.com/ccc01/o.asp?id=jBjOhqOJ" target="_blank">Feedback</a>
                        </li>
                        <li><a href="https://www.cisco.com/c/en/us/about/help.html" target="_blank">Help</a></li>
                        <li><a href="http://www.cisco.com/c/en/us/about/sitemap.html" target="_blank">Site Map</a></li>
                        <li><a href="https://www.cisco.com/c/en/us/about/legal/terms-conditions.html"
                                target="_blank">Terms & Conditions</a></li>
                        </li>
                        <li><a href="https://www.cisco.com/c/en/us/about/legal/privacy-full.html"
                                target="_blank">Privacy Statement</a></li>
                        <li><a href="https://www.cisco.com/c/en/us/about/legal/privacy-full.html#cookies"
                                target="_blank">Cookie Policy</a></li>
                        <li><a href="https://www.cisco.com/c/en/us/about/legal/trademarks.html"
                                target="_blank">Trademarks</a></li>
                    </ul>
                </div>
            </footer>
        </div>
    </div>

    <!-- JAVASCRIPT -->

    <!-- CUI 2.O SCRIPTS -->
    <script src="https://code.jquery.com/jquery-3.0.0.min.js"
        integrity="sha256-JmvOoLtYsmqlsWxa7mDSLMwa6dZ9rrIdtrrVYRnDRH0=" crossorigin="anonymous"></script>
    <script src="{{ url_for('static', filename='assets/js/styleguide.js') }}"></script>

    <!-- ORIGINAL SCRIPTS -->

    <script src="{{ url_for('static', filename='public/js/jquery-scrollto.js') }}"></script>
    <script src="{{ url_for('static', filename='public/js/clipboard.js') }}"></script>
    <script src="{{ url_for('static', filename='public/js/featherlight.min.js') }}"></script>
    <script src="{{ url_for('static', filename='public/js/Markdown.Converter.js') }}"></script>
    <script type="text/javascript">
        function downloadCSV(csv, filename) {
            var csvFile;
            var downloadLink;
            // CSV file
            csvFile = new Blob([csv], { type: "text/csv" });
            // Download link
            downloadLink = document.createElement("a");
            // File name
            downloadLink.download = filename;
            // Create a link to the file
            downloadLink.href = window.URL.createObjectURL(csvFile);
            // Hide download link
            downloadLink.style.display = "none";
            // Add the link to DOM
            document.body.appendChild(downloadLink);
            // Click download link
            downloadLink.click();
        }

        function exportTableToCSV(filename) {
            var csv = [];
            var rows = document.querySelectorAll("table tr");

            for (var i = 0; i < rows.length; i++) {
                var row = [], cols = rows[i].querySelectorAll("td, th");

                for (var j = 0; j < cols.length; j++)
                    row.push(cols[j].innerText);

                csv.push(row.join(","));
            }
            // Download CSV file
            downloadCSV(csv.join("\n"), filename);
        }


    </script>

    <!-- Page Specific Javascript -->
    {% block js %}{% endblock %}

</body>

</html>