{% extends "base.html" %}

<!-- Homepage html.  Requests input for a single time to retrieve all devices within network at that interval -->

<title>{% block title %}CMX Activity{% endblock %}</title>


{{ charts_init }}

{% block css %}
<style>
  #select {
    width: 125px;
    height: 25px;
  }

  option {
    font-size: 10px;
  }

  table,
  th,
  td {
    border: 1px solid black;
    border-collapse: collapse;
  }
</style>
{% endblock %}


{% endblock %}


{% block section1title %}
      <h1><a href='https://account.meraki.com/secure/login/dashboard_login' target="_blank">CMX Activity</a></h1>
{% endblock % }


{% block section1content %}

    {{ charts.cmx_activity }}

    <table>
      <thead>
        <tr bgcolor="#7EF5FA" align="center">
          <th>Time</th>
          <th>Activity</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>0-1</td>
          <td>{{ x[0] }}</td>
        </tr>
        <tr>
          <td>1-2</td>
          <td>{{ x[1] }}</td>
        </tr>
        <tr>
          <td>2-3</td>
          <td>{{ x[2] }}</td>
        </tr>
        <tr>
          <td>3-4</td>
          <td>{{ x[3] }}</td>
        </tr>
        <tr>
          <td>4-5</td>
          <td>{{ x[4] }}</td>
        </tr>
        <tr>
          <td>5-6</td>
          <td>{{ x[5] }}</td>
        </tr>
        <tr>
          <td>6-7</td>
          <td>{{ x[6] }}</td>
        </tr>
        <tr>
          <td>7-8</td>
          <td>{{ x[7] }}</td>
        </tr>
        <tr>
          <td>8-9</td>
          <td>{{ x[8] }}</td>
        </tr>
        <tr>
          <td>9-10</td>
          <td>{{ x[9] }}</td>
        </tr>
        <tr>
          <td>10-11</td>
          <td>{{ x[10] }}</td>
        </tr>
        <tr>
          <td>11-12</td>
          <td>{{ x[11] }}</td>
        </tr>
        <tr>
          <td>12-13</td>
          <td>{{ x[12] }}</td>
        </tr>
        <tr>
          <td>13-14</td>
          <td>{{ x[13] }}</td>
        </tr>
        <tr>
          <td>14-15</td>
          <td>{{ x[14] }}</td>
        </tr>
        <tr>
          <td>15-16</td>
          <td>{{ x[15] }}</td>
        </tr>
        <tr>
          <td>16-17</td>
          <td>{{ x[16] }}</td>
        </tr>
        <tr>
          <td>17-18</td>
          <td>{{ x[17] }}</td>
        </tr>
        <tr>
          <td>18-19</td>
          <td>{{ x[18] }}</td>
        </tr>
        <tr>
          <td>19-20</td>
          <td>{{ x[19] }}</td>
        </tr>
        <tr>
          <td>20-21</td>
          <td>{{ x[20] }}</td>
        </tr>
        <tr>
          <td>21-22</td>
          <td>{{ x[21] }}</td>
        </tr>
        <tr>
          <td>22-23</td>
          <td>{{ x[22] }}</td>
        </tr>
        <tr>
          <td>23-24</td>
          <td>{{ x[23] }}</td>
        </tr>

      </tbody>

    </table>

{% endblock % }



{% block js %}
<script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
<script type="text/javascript" src="//ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
{% endblock % }