{% extends "base.html" %}

{% block title %}CMX Times{% endblock %}

{% block pageTitle %}CMX Times{% endblock %}

{% block section1title %}<h2>Aggregated CMX Times</h2>{% endblock %}

{% block section1content %}


<canvas id="bar-chart-total-time" width="800" height="250"></canvas>




<div class="responsive-table">
    <table id='tester' class="table table--lined table--compressed">

        <thead>
            <tr>
                <th>MAC</th>
                <th>Visits</th>
                <th>Total Time</th>
                <th>First Seen</th>
                <th>Last Seen</th?>
            </tr>
        </thead>
        <tbody>
            {% for x in cmxData %}
            <tr>
                <td>{{ x['MAC'] }}</td>
                <td>{{ x['visits'] }}</td>
                <td>{{ x['totalTime'] }}</td>
                {% for y in x['timeData'] %}
                <td>{{ y['firstSeen'] }}</td>
                <td>{{ y['lastSeen'] }}</td>
            </tr>
            <tr>
                <td></td>
                <td></td>
                <td></td>
                {% endfor %}
                <td></td>
                <td></td>
            </tr>
            {% endfor %}

        </tbody>

    </table>
</div>
{% endblock %}


{% block js %}


<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.5.0/Chart.min.js"></script>

<script>
     // Bar chart
new Chart(document.getElementById("bar-chart-total-time"), {
    type: 'bar',
    data: {
      labels: [
      {% for x in cmxData %}
           "{{ x['MAC'] }}",
          {% endfor %}
      ],
      datasets: [
        {
          label: "Total Time",
          backgroundColor: [
              {% for color in colors %}
              "{{ color }}",
              {% endfor %}
          ],
          data: [
          {% for x in cmxData %}
               "{{ x['totalTime'] }}",
              {% endfor %}
          ]
        }
      ]
    },
    options: {
      legend: { display: false },
      title: {
        display: true,
        text: 'Total Time per MAC Address'
      }
    }
});
    </script>







{% endblock %}