{% extends "base.html" %}

{% block title %}Correlation{% endblock %}

{% block pageTitle %}Correlation{% endblock %}

{% block section1title %}<h2>MV Sense Data Correlation</h2>{% endblock %}

<!--Table-->
{% block section1content %}

<div class="responsive-table">
    <table class="table table--lined table--compressed">

        <tr>
            <th>Time In</th>
            <th>Time Out</th>
            <th>MAC</th>
            <th>RSSI</th>
            <th>Timestamp</th>
            <!-- <th>Video Link</th> -->
        </tr>
        </thead>
        <tbody>
            {% for x in correlation %}
            <tr>
                <td>{{ x['inTime'] }}</td>
                <td>{{ x['outTime'] }}</td>
                {% for y in x['devices'] %}
                <td>{{ y['MAC'] }}</td>
                <td>{{ y['rssi'] }}</td>
                <td>{{ y['time'] }}</td>
            </tr>
            <td></td>
            <td></td>
            {% endfor %}
            {% endfor %}

        </tbody>

    </table>

</div>
{% endblock %}