{% extends "base.html" %}

{% block title %}Filter CMX Times{% endblock %}

{% block pageTitle %}Filter CMX Times{% endblock %}

{% block css %}

<style>
    @media (min-width:768px) {
        .col-sm-6 {
            width: calc(50% - 30px);
        }
    }
</style>


{% endblock %}

{% block section1title %}<h2>Filtered CMX Times</h2>{% endblock %}


{% block section1content %}


<div class="responsive-table">
    <table class="table table--lined table--compressed">


        <thead>
            <tr>
                <th>MAC</th>
                <th>Visits</th>
                <th>Total Time</th>
                <th>First Seen</th>
                <th>Last Seen</th? </tr> </thead> <tbody>
                    {% for x in cmxData %}
            <tr>
                <td>{{ x['MAC'] }}</td>
                <td>{{ x['visits'] }}</td>
                <td>{{ x['totalTime'] }}</td>
                {% for y in x['timeData'] %}
                <td>{{ y['firstSeen'] }}</td>
                <td>{{ y['lastSeen'] }}</td>
            </tr>
            <tr>
                <td></td>
                <td></td>
                <td></td>
                {% endfor %}
                <td></td>
                <td></td>
            </tr>
            {% endfor %}

            </tbody>

    </table>
</div>


{% endblock %}




{% block js %}


<script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
<script type="text/javascript" src="//ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>

{{ charts_init }}

{% endblock %}