{% extends "base.html" %}

{% block title %}MV History{% endblock %}


{% block css %}

{% endblock %}


{% block pageTitle %}MV History{% endblock %}

{% block section1title %}<h2>MV Visitors</h2>
<h3>Timezone: {{localTimezone}}</h3>{% endblock %}

{% block section1content %}

<canvas id="bar-chart-mv-history" width="800" height="250"></canvas>


<div class=row>
    {% for theDeviceChart in snapshotsArray %}
    <div class='col-md-4'>
        <small>{{theDeviceChart[0]}}</small><br>


        <a href="{{theDeviceChart[1]}}"><br><img src="{{ url_for('static', filename='assets/img/client-loader.gif') }}"
                data-src="{{theDeviceChart[1]}}" target="_blank" border="0" height="50%" width="50%"
                onError="this.onerror=null;this.src='{{ url_for('static', filename='assets/img/client-loader.gif') }}';"></a>


    </div>
    {% endfor %}

</div>


{% endblock %}


{% block js %}



<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.5.0/Chart.min.js"></script>

<script>
     // Bar chart
new Chart(document.getElementById("bar-chart-mv-history"), {
    type: 'bar',
    data: {
      labels: [
      {% for x in labelList %}
           "{{ x }}",
          {% endfor %}
      ],
      datasets: [
        {
          label: "Total Count",
          backgroundColor: [
              {% for color in colors %}
              "{{ color }}",
              {% endfor %}
          ],
          data: [
          {% for x in visitorCountList %}
               "{{ x }}",
              {% endfor %}
          ]
        }
      ]
    },
    options: {
      legend: { display: false },
      title: {
        display: true,
        text: 'Visitor Count'
      }
    }
});
    </script>

    <script>
    window.addEventListener('load', function () {	
        var allimages = document.getElementsByTagName('img');	
        for (var i = 0; i < allimages.length; i++) {	
            if (allimages[i].getAttribute('data-src')) {	


                allimages[i].setAttribute('src', allimages[i].getAttribute('data-src'));	
            }	
        }	
    }, false)
    
    
    </script>







{% endblock %}


