{% extends "base.html" %}

{% block title %}MV History{% endblock %}

{% block pageTitle %}MV History{% endblock %}

{% block section1title %}<h2>MV Visitors</h2>
<h3>Last 14 hours. Timezone: {{localTimezone}}</h3>{% endblock %}

{% block section1content %}
{{ charts.mvhistorychart }}

<div class=row>
    {% for theDeviceChart in snapshotsArray %}
    <div class='col-md-4'>
        <small>{{theDeviceChart[0]}}</small><br>
        <a href="{{theDeviceChart[1]}}"><br><img src="{{theDeviceChart[1]}}" target="_blank" border="0" height="200"
                width="300"></a>

    </div>
    {% endfor %}


</div>
{% endblock %}




{% block js %}

<script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
<script type="text/javascript" src="//ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>

{{ charts_init }}
{% endblock %}