{% extends "base.html" %}


{% block title %}MV Overview{% endblock %}

{% block pageTitle %}MV Overview{% endblock %}

{% block css %}


<style>
    #loadingDiv {
        display: none;
    }

    .wheel {
        margin-left: 10px;
    }
</style>
{% endblock %}

{% block section1title %}
<h2>MV Overview - Last 7 Days</h2>
{% endblock %}



<!--Chart-->
{% block section1content %}


{% set count = 0 %}
{% for theDeviceChart in allTheCharts %}
{{charts[theDeviceChart]}}


{% for theDeviceZoneDetails in allTheDetails[count][2] %}
<div class='col-xs-12 col-md-2'>
    <form action="{{ url_for('mvOverview') }}" method="post">
        <button class="btn btn--primary" type="submit" name="zone_details" onclick="showDiv()"
            value="{{allTheDetails[count][0]}},{{allTheDetails[count][1]}},{{theDeviceZoneDetails[0]}},{{theDeviceZoneDetails[1]}}">{{theDeviceZoneDetails[1]}}
            details</button><br><br>
    </form>
</div>



<div id="loadingDiv" class=row>



    <div class="alert alert--info">
        <div class="alert__icon icon-info-outline"></div>
        <div class="alert__message">Loading {{theDeviceZoneDetails[1]}} details {{feedbackMsg}}</div>
        <div class="loader loader--small" aria-label="Loading, please wait...">
            <div class="wrapper">
                <div class="wheel"></div>
            </div>
        </div>
    </div>

</div>


{% endfor %}


{% set count = count + 1 %}

{% endfor %}


{% endblock %}


<!--Page Specific JS-->
{% block js %}



<script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
<script type="text/javascript" src="//ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>

{{ charts_init }}


<script type="text/javascript">

    function showDiv() {
        document.getElementById('loadingDiv').style.display = "block";
    }
</script>



<script type="text/javascript">
    // Load the Visualization API and the corechart package.
    google.charts.load('current', { 'packages': ['corechart'] });

    // Every time the table fires the "select" event, it should call your
    // selectHandler() function.
    google.visualization.events.addListener(chart - options - chart0, 'select', selectHandler);

    function selectHandler(e) {
        alert('A table row was selected');
    }
</script>


{% endblock %}