{% extends "base.html" %}


{% block title %}MV Overview{% endblock %}

{% block pageTitle %}MV Overview{% endblock %}

{% block css %}


<style>
    #loadingZoneDiv {
        display: none;
    }

    .wheel {
        margin-left: 10px;
    }
</style>
{% endblock %}

{% block section1title %}
<h2>MV Overview</h2>



{% endblock %}




<!--Chart-->
{% block section1content %}

{% for chart in chartCount %}
<canvas id="bar-chart-{{chart}}" width="800" height="250"></canvas>
{% endfor %}
<br>

{% set count = 0 %}




{% for theDeviceZoneDetails in allTheDetails[count][2] %}
<div class='col-xs-12 col-md-2'>
    <form action="{{ url_for('mvOverview') }}" method="post">
        <button class="btn btn--primary" type="submit" name="zone_details" onclick="showZoneLoadDiv()"
            value="{{allTheDetails[count][0]}},{{allTheDetails[count][1]}},{{theDeviceZoneDetails[0]}},{{theDeviceZoneDetails[1]}}">{{theDeviceZoneDetails[1]}}
            details</button><br><br>
    </form>
</div>









{% set count = count + 1 %}

{% endfor %}



{% endblock %}


<!--Page Specific JS-->
{% block js %}






<script type="text/javascript">

    function showZoneLoadDiv() {
        document.getElementById('loadingZoneDiv').style.display = "block";
    }
</script>



<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.5.0/Chart.min.js"></script>


{% for chart in chartCount %}
<script>
     // Bar chart
new Chart(document.getElementById("bar-chart-{{chart}}"), {
    type: 'bar',
    data: {
      labels: [
      {% for x in zoneLabel %}
           "{{ x }}",
          {% endfor %}
      ],
      datasets: [
        {
          label: "Visitors",
          backgroundColor: [
              {% for color in colors %}
              "{{ color }}",
              {% endfor %}
          ],
          data: [
          {% for x in entranceCount %}
               "{{ x }}",
              {% endfor %}
          ]
        }
      ]
    },
    options: {
      legend: { display: false },
      title: {
        display: true,
        text: 'Entrance Count Per Zone'
      }
    }
});
    </script>

<script>
        function myFunction() {
          alert("I am an alert box!");
        }
        </script>
{% endfor %}



{% endblock %}