{% extends "base.html" %}


{% block title %}MV Overview{% endblock %}

{% block pageTitle %}MV Overview{% endblock %}

{% block section1title %}
<h1>MV Overview</a></h1>
<h2>Last 7 days</h2>
{% endblock %}


{% block section1content %}

<!--Chart-->
{% set count = 0 %}
{% for theDeviceChart in allTheCharts %}
{{charts[theDeviceChart]}}



{% for theDeviceZoneDetails in allTheDetails[count][2] %}
<div class='col-xs-12 col-md-2'>
    <form action="{{ url_for('mvOverview') }}" method="post">
        <button type="submit" name="zone_details"
            value="{{allTheDetails[count][0]}},{{allTheDetails[count][1]}},{{theDeviceZoneDetails[0]}},{{theDeviceZoneDetails[1]}}"
            onclick="loading();">{{theDeviceZoneDetails[1]}} details</button>
    </form>
</div>
{% endfor %}


{% set count = count + 1 %}

{% endfor %}


{% endblock %}


<!--Page Specific JS-->
{% block js %}



<script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
<script type="text/javascript" src="//ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>

{{ charts_init }}


<script type="text/javascript">
    function loading() {
        $("#loading").show();
        $("#content").hide();
    }
</script>



<script type="text/javascript">
    // Load the Visualization API and the corechart package.
    google.charts.load('current', { 'packages': ['corechart'] });

    // Every time the table fires the "select" event, it should call your
    // selectHandler() function.
    google.visualization.events.addListener(chart - options - chart0, 'select', selectHandler);

    function selectHandler(e) {
        alert('A table row was selected');
    }
</script>



{% endblock %}