{% extends "base.html" %}

{% block title %}MV Sense{% endblock %}

{% block pageTitle %}MV Sense{% endblock %}

{% block section1title %}<h2>MV Sense</h2>{% endblock %}

<!--Table-->
{% block section1content %}


<canvas id="bar-chart-total-people" width="800" height="250"></canvas>

<div class="responsive-table"></div>
<table class="table table--lined table--compressed">
  <thead>
    <tr bgcolor="#7EF5FA" align="center">
      <th>Time In</th>
      <th>Time Out</th>
      <th>Total People</th>
      <th>Video Link</th>
    </tr>
  </thead>
  <tbody>
    {% for x in data %}
    <tr>
      <td>{{ x['timeIn'] }}</td>
      <td>{{ x['timeOut'] }}</td>
      <td>{{ x['count'] }}</td>
      <td><a href="{{ x['link'] }}">{{ x['link'] }}</a></td>
      {% endfor %}

  </tbody>

</table>
</div>
{% endblock %}


{% block js %}


<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.5.0/Chart.min.js"></script>

<script>
     // Bar chart
new Chart(document.getElementById("bar-chart-total-people"), {
    type: 'bar',
    data: {
      labels: [
      {% for x in data %}
           "{{ x['timeIn'] }} - {{ x['timeOut'] }}",
          {% endfor %}
      ],
      datasets: [
        {
          label: "Total People",
          backgroundColor: [
              {% for color in colors %}
              "{{ color }}",
              {% endfor %}
          ],
          data: [
          {% for x in data %}
               "{{ x['count'] }}",
              {% endfor %}
          ]
        }
      ]
    },
    options: {
      legend: { display: false },
      title: {
        display: true,
        text: 'Total People per Time'
      }
    }
});
    </script>







{% endblock %}