{% extends "base.html" %}

{% block title %}MV Sense{% endblock %}

{% block pageTitle %}MV Sense{% endblock %}

{% block section1title %}<h2>MV Sense</h2>{% endblock %}

<!--Table-->
{% block section1content %}

<div class="responsive-table"></div>
<table class="table table--lined table--compressed">
  <thead>
    <tr bgcolor="#7EF5FA" align="center">
      <th>Time In</th>
      <th>Time Out</th>
      <th>Total People</th>
      <th>Video Link</th>
    </tr>
  </thead>
  <tbody>
    {% for x in data %}
    <tr>
      <td>{{ x['timeIn'] }}</td>
      <td>{{ x['timeOut'] }}</td>
      <td>{{ x['count'] }}</td>
      <td>{{ x['link'] }}</td>
      {% endfor %}

  </tbody>

</table>
</div>
{% endblock %}