{% extends "base.html" %}

{% block title %}Please Wait...{% endblock %}

{% block pageTitle %}{% endblock %}

{% block section1title %}{% endblock %}

{% block section1content %}


<div class=row>

    <div class=col-md-1>
        <div class="loader" aria-label="Loading, please wait...">
            <div class="wrapper">
                <div class="wheel"></div>
            </div>
        </div>
    </div>


    <div class=col-md-4>
        <div class="alert alert--info">
            <div class="alert__icon icon-info-outline"></div>
            <div class="alert__message">{{theReason}}</div>

        </div>
        {% endblock %}



        {% block js %}
        <script>
            // Move to a new location or you can do something else
            window.location.href = "{{ url_for('mvOverview') }}";

        </script>

        {% endblock %}