{% extends "base.html" %}

{% block title %}Raw CMX Data{% endblock %}

{% block pageTitle %}Raw CMX Data{% endblock %}

{% block section1title %}<h2>Raw CMX Data</h2>{% endblock %}

<!--Table-->
{% block section1content %}
<div class="responsive-table">
    <table class="table table--lined table--compressed">
        <thead>
            <tr>
                <th>MAC</th>
                <th>Time</th>
                <th>RSSI</th>
            </tr>
        </thead>
        <tbody>
            
      
            {% for x in data %}
            <tr>
                <td>{{ x['MAC'] }}</td>
                {% for y in x['timestamps'] %}
                <td>{{ y['ts'] }}</td>
                <td>{{ y['rssi'] }}</td>
            </tr>
            <tr>
                <td></td>
                {% endfor %}
                <td></td>
                <td></td>
            </tr>
            {% endfor %}
        
        </tbody>

    </table>
</div>
{% endblock %}