{% extends "base.html" %}

{% block title %}Setup Updated{% endblock %}

{% block pageTitle %}Setup{% endblock %}

{% block section1title %}

<div class="row">
    <div class="col-lg-6 col-xl-4">
        <div class="alert alert--success">
                <div class="alert__icon icon-check-outline"></div>
                <div class="alert__message">Setup Updated!</div>
            </div>
        </div>
    </div>
    
    


{% endblock %}


{% block section1content %}

<div class="responsive-table">
        <table class="table table--bordered">
            <thead>
                <tr>

                    <th>Meraki API Key</th>
                    <th>Network ID</th>
                    <th>Camera Serial #</th>
                    <th>Validator</th>
                    <th>AP MAC Address</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>{{ meraki_api_key }}</td>
                    <td>{{ network_id }}</td>
                    <td>{{ camera_serial_number }}</td>
                    <td>{{ validator }}</td>
                    <td>{{ ap_mac_address }}</td>
                </tr>
        
            </tbody>
        </table>
    </div>


 

 


<div class="row">
        <div class="col-6 col-lg-2 half-margin-top half-margin-bottom">
                <button onclick="location.href='/mvOverview'" class="btn btn--success">Return Home</button>
            </div>
</div>

{% endblock %}