{% block above %}
{% endblock %}
<div class="header-bar container">

          <select class="btn btn--small btn--icon toggle-menu"  onchange="location = this.value;">
                    <option></option>
                    <option value="rawCMX">Raw CMX</option>
                    <option value='cmxTimes'>CMX Times</option>
                    <option value="hourFilter">Filter</option>
                    <option value="mvSense">MV Sense</option>
                    <option value="cmxActivity">CMX Activity</option>
                    <option value="mvActivity">MV Activity</option>
                    <option value="correlation">Correlation</option>
                    <option value="mvOverview">MVOverview</option>

              </select>



    <a class="header-bar__logo">
        <span class="icon-cisco"></span>
    </a>
    <div class="header-bar__main">
        <div class="header-breadcrumbs">
            <ul class="breadcrumb">
                <li><a>Operate</a></li>
                <li><a>Devices</a></li>
                <li><span>Discovery</span></li>
            </ul>

        </div>

        <div class="header-heading" >
            <h1 class="page-title">Meraki PoV</h1>
            <div align="right">
              <button onclick="exportTableToCSV('clientInfo.csv')">Export To CSV</button>
            </div>
        </div>
    </div>
</div>


{% block below %}
{% endblock %}
